doctype html
html(lang='en')
  head
    include ./layouthead.jade
  body
    include ./layoutbody.jade
    section#container
      aside
        section#main-content
          section.wrapper
            h3
              i.fa.fa-angle-right
              |  작업중 입니다
