//- includes/body
body


  //
    **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    ***********************************************************************************************************************************************************
  // header start
  header.header.black-bg
    .sidebar-toggle-box
      .fa.fa-bars.tooltips(data-placement='right', data-original-title='Toggle Navigation')
    // logo start
    a.logo(href='index.html')
      b  Hplusmall
    // logo end
    #top_menu.nav.notify-row
      // notification start
      ul.nav.top-menu
        // settings start
        div(style='text-align:center')
          button.btn.btn-theme(type='button')  주문관리
          | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          button.btn.btn-theme(type='button')  상품관리
          | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          button.btn.btn-theme(type='button')  게시판관리
          | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          button.btn.btn-theme(type='button')  연동 작업
          | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          button.btn.btn-theme(type='button')  사이트관리
          | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          button.btn.btn-theme(type='button')  설정
      // notification end
    .top-menu
      ul.nav.pull-right.top-menu
        li
          a.logout(href='login.jade') Logout
  // header end
  //
    **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    ***********************************************************************************************************************************************************
  // sidebar start
  aside
    #sidebar.nav-collapse
      // sidebar menu start
      ul#nav-accordion.sidebar-menu
        p.centered
          a(href='profile.html')
            img.img-circle(src='/assets/img/ui-sam.jpg', width='60')
        h5.centered //
        li.mt
          a(href='index.html')
            i.fa.fa-dashboard
            span 연동상태
        li.sub-menu
          a(href='javascript:;')
            i.fa.fa-desktop
            span 상품관리
          ul.sub
            li
              a(href='general.html') a
            li
              a(href='buttons.html') b
            li
              a(href='panels.html') c
        li.sub-menu
          a(href='javascript:;')
            i.fa.fa-cogs
            span 원장구축
          ul.sub
            li
              a(href='calendar.html') a
            li
              a(href='gallery.html') b
            li
              a(href='todo_list.html') c
        li.sub-menu
          a(href='javascript:;')
            i.fa.fa-book
            span 주문관리
          ul.sub
            li
              a(href='blank.html') a
            li
              a(href='login.html') b
            li
              a(href='lock_screen.html') c
        li.sub-menu
          a(href='javascript:;')
            i.fa.fa-tasks
            span 마켓아이디관리
          ul.sub
            li
              a(href='market_list.jade') 리스트
            li
              a(href='market_regist.jade') 등록/변경
            li
              a(href='market_margin.jade') 마진율 관리
        li.sub-menu
          a(href='javascript:;')
            i.fa.fa-th
            span 회원가입/정보
          ul.sub
            li
              a(href='form_component.jade') 회원가입
            li
              a(href='form_element.jade') 정보변경
        li.sub-menu
          a(href='javascript:;')
            i.fa.fa-bar-chart-o
            span 게시판
          ul.sub
            li
              a(href='morris.html') a
            li
              a(href='chartjs.html') b
      // sidebar menu end
  // sidebar end
  //
  script(src='/assets/js/jquery.js')
  script(src='/assets/js/bootstrap.min.js')
  script.include(type='text/javascript', src='/assets/js/jquery.dcjqaccordion.2.7.js')
  script(src='/assets/js/jquery.scrollTo.min.js')
  script(src='/assets/js/jquery.nicescroll.js', type='text/javascript')
  // common script for all pages
  script(src='/assets/js/common-scripts.js')
