extends table
block content
      section#main-content
        section.wrapper
          h3
            i.fa.fa-angle-right
            |  마켓아이디 관리> 리스트
          // 마켓아이디 관리 리스트-> <!end
          div(align='right', ;='')
            button.btn.btn-primary.btn-sm(href='index.html', type='submit')  마켓 아이디 등록하기
          .row.mt
            .col-lg-12
              include ./table.jade
                    thead
                      tr
                        th.numeric
                          | 사이트
                          br
                          |  종류
                        th
                    tbody
                      tr
                        td AAC
                        td  COMPANY LIMITED.
                        td.numeric $1.38
                        td.numeric -0.01
                        td.numeric -0.36%
                        td.numeric $1.39
                        td.numeric $1.39
                        td.numeric $1.38
                        td.numeric 9,395
                        td.numeric 9,395
                        td.numeric 9,395
                      tr
                        td AAD
                        td GROUP
                        td.numeric $1.15
                        td.numeric   +0.02
                        td.numeric 1.32%
                        td.numeric $1.14
                        td.numeric $1.15
                        td.numeric $1.13
                        td.numeric 56,431
                        td.numeric 9,395
                        td.numeric 9,395
                      tr
                        td AAX
                        td LIMITED
                        td.numeric $4.00
                        td.numeric -0.04
                        td.numeric -0.99%
                        td.numeric $4.01
                        td.numeric $4.05
                        td.numeric $4.00
                        td.numeric 90,641
                        td.numeric 9,395
                        td.numeric 9,395
                      tr
                        td ABC
                        td ADELAIDE
                        td.numeric $3.00
                        td.numeric   +0.06
                        td.numeric 2.04%
                        td.numeric $2.98
                        td.numeric $3.00
                        td.numeric $2.96
                        td.numeric 862,518
                        td.numeric 9,395
                        td.numeric 9,395
                      tr
                        td ABP
                        td ABACUS
                        td.numeric $1.91
                        td.numeric 0.00
                        td.numeric 0.00%
                        td.numeric $1.92
                        td.numeric $1.93
                        td.numeric $1.90
                        td.numeric 595,701
                        td.numeric 9,395
                        td.numeric 9,395
              // /content-panel
            // /col-lg-4
          // /row
        // 마켓아이디 관리>등록,변경
      // /MAIN CONTENT
      section#main-content
        section.wrapper
          h3
            i.fa.fa-angle-right
            |  마켓아이디 관리> 등록,변경
          // 마켓아이디 관리 등록,변경> <!end
          .row.mt
            .col-lg-12
              div(align='right', ;='')
                button.btn.btn-primary.btn-sm(href='index.html', type='submit')  등록/변경하기
              h4  사이트 정보
              .content-panel
                section#unseen
                  table.table.table-bordered.table-striped.table-condensed
                    thead
                      tr
                        th.numeric
                          | 사이트
                          br
                          |  종류
                        th.numeric  Select
                        th.numeric
                        th.numeric
                    tbody
                      tr
                        td  아이디
                        td  COMPANY LIMITED.
                        td.numeric  비번
                        td.numeric
                      tr
                        td  연동키1(파트너키)
                        td GROUP
                        td.numeric  연동키2(시크릿키)
                        td.numeric
                      tr
                        td  상호
                        td  확인버튼
                        td.numeric  담당자명
                        td.numeric
                      tr
                        td  As 담장자 연락처
                        td ADELAIDE
                        td.numeric
                        td.numeric
                      tr
                        td  반품주소지
                        td ABACUS
                        td.numeric
                        td.numeric  input
              // /content-panel
            // /col-lg-4
          // /row
      section#main-content
        section.wrapper
          h3
            i.fa.fa-angle-right
            |  마켓아이디 관리> 마진율 관리
          // 마켓아이디 관리 등록,변경> <!end
          .row.mt
            .col-lg-12
              div(align='right', ;='')
                button.btn.btn-primary.btn-sm(href='index.html', type='submit')  신규 마진율 등록/변경
              h4  사이트 정보
              .content-panel
                section#unseen
                  table.table.table-bordered.table-striped.table-condensed
                    thead
                      tr
                        th.numeric  셋트명
                        th.numeric  메모
                        th.numeric  등록일
                        th.numeric  메모
                        th.numeric  설정
                    tbody
                      tr
                        td  스토어팜 기준가
                        td  testaa
                        td.numeric  16.12.12 19:11
                        td.numeric  2(30만)
                        th.numeric  삭제
                      tr
                        td  쿠팡 기준가
                        td  testaa
                        td.numeric  16.12.12 19:11
                        td.numeric  2(30만)
                        th.numeric  삭제
              // /content-panel
              br
              div(align='center', ;='')
                button.btn.btn-primary.btn-sm(href='index.html', type='submit')  확인
            // /col-lg-4
          // /row
    // js placed at the end of the document so the pages load faster
    script(src='/assets/js/jquery.js')
    script(src='/assets/js/bootstrap.min.js')
    script.include(type='text/javascript', src='/assets/js/jquery.dcjqaccordion.2.7.js')
    script(src='/assets/js/jquery.scrollTo.min.js')
    script(src='/assets/js/jquery.nicescroll.js', type='text/javascript')
    // common script for all pages
    script(src='/assets/js/common-scripts.js')
    // script for this page
