doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Dashboard')
    meta(name='keyword', content='Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
    title Hplusmall Template
    // Bootstrap core CSS
    link(href='assets/css/bootstrap.css', rel='stylesheet')
    // external css
    link(href='assets/font-awesome/css/font-awesome.css', rel='stylesheet')
    // Custom styles for this template
    link(href='assets/css/style.css', rel='stylesheet')
    link(href='assets/css/style-responsive.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    section#container
      //
        **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        ***********************************************************************************************************************************************************
      // header start
      header.header.black-bg
        .sidebar-toggle-box
          .fa.fa-bars.tooltips(data-placement='right', data-original-title='Toggle Navigation')
        // logo start
        a.logo(href='index.html')
          b Hplusmall
        // logo end
        #top_menu.nav.notify-row
          // notification start
          ul.nav.top-menu

        .top-menu
          ul.nav.pull-right.top-menu
            li
              a.logout(href='/') Login
      // header end
      //
        **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        ***********************************************************************************************************************************************************
      // sidebar start
      aside
        #sidebar.nav-collapse
          // sidebar menu start
          ul#nav-accordion.sidebar-menu
            p.centered
              a(href='as.jade')
                img.img-circle(src='assets/img/ui-sam.jpg', width='60')
            h5.centered Marcel Newman
            li.mt
              a(href='as.jade')
                i.fa.fa-dashboard
                span Dashboard
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-desktop
                span 주문관리
              ul.sub
                li
                  a(href='general.html') General
                li
                  a(href='buttons.html') Buttons
                li
                  a(href='panels.html') Panels
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-cogs
                span 상품관리
              ul.sub
                li
                  a(href='calendar.html') Calendar
                li
                  a(href='gallery.html') Gallery
                li
                  a(href='todo_list.html') Todo List
            li.sub-menu
              a.active(href='javascript:;')
                i.fa.fa-book
                span 게시판관리
              ul.sub
                li.active
                  a(href='blank.html') Blank Page
                li
                  a(href='login.html') Login
                li
                  a(href='lock_screen.html') Lock Screen
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-tasks
                span 연동 작업
              ul.sub
                li
                  a(href='form_component.html') Form Components
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-th
                span 사이트관리
              ul.sub
                li
                  a(href='basic_table.html') Basic Table
                li
                  a(href='responsive_table.html') Responsive Table
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-bar-chart-o
                span Charts
              ul.sub
                li
                  a(href='morris.html') Morris
                li
                  a(href='chartjs.html') Chartjs
          // sidebar menu end
      // sidebar end
      //
        **********************************************************************************************************************************************************
        MAIN CONTENT
        ***********************************************************************************************************************************************************
      // main content start
      section#main-content
        section.wrapper.site-min-height
          block content
          
    script(src='assets/js/jquery.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/jquery-ui-1.9.2.custom.min.js')
    script(src='assets/js/jquery.ui.touch-punch.min.js')
    script.include(type='text/javascript', src='assets/js/jquery.dcjqaccordion.2.7.js')
    script(src='assets/js/jquery.scrollTo.min.js')
    script(src='assets/js/jquery.nicescroll.js', type='text/javascript')
    // common script for all pages
    script(src='assets/js/common-scripts.js')
    script(src='/assets/js/test.js')
