doctype html
html(lang='en')
  head
    include ./layouthead.jade
  body
    include ./layoutbody.jade
    section#container
      aside
        section#main-content
          section.wrapper
            h3
              i.fa.fa-angle-right
              |  마켓아이디 관리> 마진율 관리
            // 마켓아이디 관리 등록,변경> <!end
            .row.mt
              .col-lg-12
                div(align='right', ;='')
                  button.btn.btn-primary.btn-sm(href='index.html', type='submit')  신규 마진율 등록/변경
                h4  사이트 정보
                .content-panel
                  section#unseen
                        block content
                  div(align='center', ;='')
                    button.btn.btn-primary.btn-sm(href='index.html', type='submit')  확인
        section#main-content
            section.wrapper

                  h4
                    마진율 설정
                    br
                    마진율 셋트명
                  .content-panel
                    section#unseen
                      table.table.table-bordered.table-striped.table-condensed
                        thead
                         tr
                          each val in ['금액','마진율','배송비','']
                             th= val

                        tbody

                          each val in ['~5000원 미만', '5000원 이상 ~ 10000원 미만', '10000원 이상 ~ 30000원 미만','30000원 이상 ~ 50000원 미만','50000원 이상 ~ 100000원 미만','100000원 이상 ~ 200000원 미만','200000원 이상 ~']
                              tr
                                td= val

                                   each vals in ['25%','2500','']
                                      td= vals

                  // /content-panel
                  br
                  div(align='center', ;='')
                    button.btn.btn-primary.btn-sm(href='index.html', type='submit')  확인
