doctype html
html(lang='en')
  head
    include ./layouthead.jade
  body
    include ./layoutbody.jade
    section#container
      aside
        section#main-content
          section.wrapper
            h3
              i.fa.fa-angle-right
              |  마켓아이디 관리> 등록,변경
            // 마켓아이디 관리 등록,변경> <!end
            .row.mt
              .col-lg-12
                div(align='right', ;='')
                  button.btn.btn-primary.btn-sm(href='index.html', type='submit')  등록/변경하기
                h4  사이트 정보
                .content-panel
                  section#unseen
                    table.table.table-bordered.table-striped.table-condensed
                      thead
                        tr
                          th.numeric
                            | 사이트
                            br
                            |  종류
                          th.numeric  Select
                          th.numeric
                          th.numeric
                      tbody
                        tr
                          td  아이디
                          td  COMPANY LIMITED.
                          td.numeric  비번
                          td.numeric
                        tr
                          td  연동키1(파트너키)
                          td GROUP
                          td.numeric  연동키2(시크릿키)
                          td.numeric
                        tr
                          td  상호
                          td  확인버튼
                          td.numeric  담당자명
                          td.numeric
                        tr
                          td  As 담장자 연락처
                          td ADELAIDE
                          td.numeric
                          td.numeric
                        tr
                          td  반품주소지
                          td ABACUS
                          td.numeric
                          td.numeric  input
                // /content-panel
              // /col-lg-4
            // /row
