extends layout.jade
block content
  aside

          section.wrapper
            h3
              i.fa.fa-angle-right
              |  마켓아이디 관리> 마진율 관리
            // 마켓아이디 관리 등록,변경> <!end
            .row.mt
              .col-lg-12
                div(align='right', ;='')
                  button.btn.btn-primary.btn-sm(href='index.html', type='submit')  신규 마진율 등록/변경
                h4  사이트 정보
                .content-panel
                  section#unseen
                    table.table.table-bordered.table-striped.table-condensed
                      include ./table_generator
                // /content-panel
                br
                div(align='center', ;='')
                  button.btn.btn-primary.btn-sm(href='index.html', type='submit')  확인

                    
                    
                    
    

        section.wrapper

              h4
                마진율 설정
                br
                마진율 셋트명
                &nbsp
                input(type="text")
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                메모  
                &nbsp
                input(type="text")  
              .content-panel
                section#unseen
                  table.table.table-bordered.table-striped.table-condensed(id="table")
                    include ./tabletest2.jade
                  
                  button.btn.btn-primary.btn-sm(id="addTR", type='submit') 테이블 추가
                    

              // /content-panel
              br
              div(align='center', ;='')
                button.btn.btn-primary.btn-sm(href='index.html', type='submit')  확인
