doctype html
html(lang='en')
  head
    include ./layouthead.jade
  body
    include ./layoutbody.jade
    section#container
      aside
        section#main-content
          section.wrapper
            h3
              i.fa.fa-angle-right
              |  마켓아이디 관리> 리스트
            // 마켓아이디 관리 리스트-> <!end
            div(align='right', ;='')
              button.btn.btn-primary.btn-sm(onclick="location.href='market_regist.jade'", type='submit') 마켓 아이디 등록하기
            .row.mt
              .col-lg-12
                .content-panel
                  section#unseen
                    include ./tabletest
                // /content-panel
              // /col-lg-4
            // /row
          // 마켓아이디 관리>등록,변경
      // /MAIN CONTENT
