table.table.table-bordered.table-striped.table-condensed
  thead
    tr
      for item in table1[0]
        th=item
  tbody
    for ll,i in table1
      if i==0
        -continue
      tr
        for ml in ll
          td= ml
