extends market_margin

block append content
    table.table.table-bordered.table-striped.table-condensed
      thead
        tr 
          for item in array[0]
            td=item

      tbody
        for ll,i in array
          if i==0
            -continue
          tr
            for ml in ll 
              td= ml
block append content2
    table.table.table-bordered.table-striped.table-condensed
      thead
        tr 
          for item in array1[0]
            td=item

      tbody
        for ll in array1
          if i==0
            -continue
          tr
            for ml in ll 
              td= ml
